@tailwind base;
@tailwind components;
@tailwind utilities;

html {
overflow-x: hidden;
scroll-behavior: smooth;
}

.white:hover svg path {
  fill: white;
  }
a:hover svg .path {
  fill: white;
  }
a:hover svg .path1 {
    fill: #0E0E27;
    }
.li:hover svg path {
  fill: #7EBC59;
  }
.active {
color: white;
border-bottom: 2px solid white;
}
