@tailwind base;
@tailwind components;
@tailwind utilities;

html {
overflow-x: hidden;
scroll-behavior: smooth;
}
.person:hover svg path {
fill: #f59e0b;
}
.white:hover svg path {
  fill: white;
  }
a:hover svg .path {
  fill: white;
  }
a:hover svg .path1 {
    fill: #0E0E27;
    }
.li:hover svg path {
  fill: #7EBC59;
  }
.active, .active svg path {
color: white;
fill: white;
text-decoration: underline;
}
