@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #d9d9d9;
}
.person:hover svg path {
  fill: white;
}

li:hover svg .path {
  fill: white;
}

li:hover svg .path1 {
  fill: #0e0e27;
}

.li:hover svg path {
  fill: #7ebc59;
}
